#logo {
    width:98px;
    height:55px;
}

body {
    margin:0;
}

.navbar-ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 20px;
    border: 1px rgb(213, 213, 213) solid;
    margin: 0;
}

.navbar-ul li a {
    text-decoration: none;
    color: rgb(93, 93, 93);
    font-weight: bold;
    font-size: 80%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1em;
    padding-right: 15px;
}

.navbar-ul li a img {
    width: 7px;
    height: 7px;
    padding-left: 2px;
}

.navbar-ul li img {
    width:20px;
    height:20px;
}

.navbar-ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-logo-li {
    border-right: 1px rgb(213, 213, 213) solid;
    border-left: 1px rgb(213, 213, 213) solid;
    width: 60px;
}

.hero-container-1 {
    height: 550px;
    border: 1px solid gray;
    background-image: url("images/img1.jpg");
    background-size: cover;
}

.fender-logo-big {
    width: 200px;
    height: 160px;
}

.hero-container-1 ul {
    list-style: none;
    margin-top: 100px;
}

.title {
    color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.8em;
}

.subtitle {
    color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

.get-started {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2em;
    background-color:rgb(221, 0, 0);
    padding: .8em 1.3em;
    border-radius: .3em;
}

.hero-container-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.new-release {
    display: flex;
    align-items: flex-end;
    width: 49%;
    height: 500px;
    border: 1px solid gray;
    background-image: url("images/img2.jpg");
    background-size: cover;
    margin: 30px 9px 30px 30px;
    font-size: 1.3em;
    
}

.mustang-micro {
    display: flex;
    align-items: flex-end;
    width: 49%;
    height: 500px;
    border: 1px solid gray;
    background-image: url("images/img3.jpg");
    background-size: cover;
    margin: 30px 30px 30px 9px;
    font-size: 1.3em;
}

.view-now {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .1em;
    background-color: rgb(221, 0, 0);
    padding: 14px 100px;
    font-size: 0.8em;
}

.view-now div {
    padding-top: 7px;
    font-weight: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 0.9em;
}

.new-release:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s;
}

.mustang-micro:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s;
}

.hero-container-3 {
    display: block;
    width: 100%;
    height: 400px;
}

.whats-new-div {
    display: block;
    padding: 40px 150px;
}

.red-bar {
    height: 4px;
    width: 60px;
    background-color: rgb(221, 0, 0);
}

.new-guitars-div {
    display: flex;
    justify-content: center;
    
}

.new-guitars-div h4 {
    margin: 10px 120px;
    padding: 5px 10px;
    text-align: center;
    background: rgb(221, 0, 0);
    color: whitesmoke;
    font-size: 0.8em;
}

.guitars img {
    width: 55%;
    margin-left: 40px;
}

.guitars a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 40px 0;
}

.case-tuner {
    padding: 65px 0px !important;
}

.footer-main {
    display: flex;
    margin-top: 300px;
    background: black;
    padding-top: 60px;
}

.logo-white img {
    width: 140px;
    height: 65px;
    float: right;
    padding-right: 50px;
}

.logo-white {
    width: 300px;
}

.footer-contents {
    border-top: 1px solid rgb(91, 91, 91);
    width: 200px;
    margin: 0 17px;
}

.footer-contents li {

}

.footer-contents h4 {
    margin-top: 10px;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-contents li {
    color: rgb(201, 201, 201);
    padding: 8px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}



.international {
    margin: 30px 0;
    border: 1px solid white;
    color: white !important;
    border-radius: 1.3em;
    width: 85%;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.social-media-icons {
    display: flex;
    padding-top: 250px !important;
}

.social-media-icons img {
    padding-right: 20px;
    cursor: pointer;
}

.footer-ending {
    border-top: 1px rgb(76, 76, 76) solid;
    background: black;
    color: rgb(132, 132, 132);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0;
    font-size: 0.8em;
}